extend ../masterlayout/indexpagelayout
block intro
	include ../components/intro/intro
block greeting 
	include ../components/greeting/greeting
block work
	include ../components/work/work
block process
	include ../components/process/process