.processwrapper
    .processwrapper__text
        p.small-caption how i work
        p.big-caption process
    .processwrapper__block
        .graphic
            img(src="assets/gs.jpg", alt="study")
        .topbar
            p briefing
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, rem!
            svg.l-icon
                use(xlink:href="assets/icons.svg#write")
        .leftbar
            p launch
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, rem!
            svg.l-icon
                use(xlink:href="assets/icons.svg#rocket")
        .rightbar
            p search
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, rem!
            svg.l-icon
                use(xlink:href="assets/icons.svg#search")
        .bottombar
            p brainstrom & create
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, rem!
            svg.l-icon
                use(xlink:href="assets/icons.svg#vector")

