extend ./masterpage
block body
    section.intro
        .wrapper
            block intro
    section.greeting
        .wrapper
            block greeting
    section.work
        .wrapper
            block work
    section.process
        .wrapper
            block process