.greetingwrapper
    .greeting__text
        p.small-caption who am I
        p.big-caption hello
    .greeting__summary
        .graphic
            img(src="assets/pp.jpg", alt="Profile")
        .text
            p I'm a UI/UX developer Mumbai based, who loves clean, simple & unique design. I also enjoy crafting brand identities, icons & illustration work.
            p.sub Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, debitis pariatur. Odio magnam quaerat placeat facilis sunt ullam dolores. Facilis necessitatibus asperiores blanditiis adipisci consequatur doloremque, atque accusantium cumque illo at delectus consectetur. Nobis quas doloremque facilis rerum libero, ipsa commodi velit reiciendis iusto praesentium? Quod fuga libero nisi repudiandae?
            a.btn-default-link(href="#") checkout my profile
        svg.l-icon.mini
            use(xlink:href="assets/icons.svg#circle")
    .greeting__illutration
        svg.l-icon.triangle
            use(xlink:href="assets/icons.svg#triangle")
        svg.l-icon.circle
            use(xlink:href="assets/icons.svg#circle")
        
