.introcomponent
    .introcomponent__nav
    .introcomponent__text
        p.white.semiheavy jhon 
            span Smith
        p.pink UI/UX Developer & web loving freeler.
    .introcomponent__icons
        img(src="assets/party_wave.svg", alt="party")
        img(src="assets/party_wave2.svg", alt="party")
        svg.l-icon
            use(xlink:href="assets/icons.svg#triangle")
