.workwrapper
    .workwrapper__text
        p.small-caption awesome projects 
        p.big-caption my work
    .workitems
        .info
            p.title Specs design that evryone suits hairstyle
            p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora tempore provident doloribus voluptas ipsa laboriosam sed nisi veritatis est!
            a.action(href="#") live project
        .graphic
            img(src="assets/w1.jpg", alt="work item")
    .workitems.right
        .graphic
            img(src="assets/w2.jpg", alt="work item")
        .info
            p.title Specs design that evryone suits hairstyle
            p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora tempore provident doloribus voluptas ipsa laboriosam sed nisi veritatis est!
            a.action(href="#") live project
    .workitems
        .info
            p.title Specs design that evryone suits hairstyle
            p.subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora tempore provident doloribus voluptas ipsa laboriosam sed nisi veritatis est!
            a.action(href="#") live project
        .graphic
            img(src="assets/w3.jpg", alt="work item")
    a.load_btn(href="#") Load More Projects
    .illustration
        svg.l-icon.triangle
            use(xlink:href="assets/icons.svg#triangle")
        svg.l-icon.circle
            use(xlink:href="assets/icons.svg#circle")
    .polka
    
        